<div class="container mx-auto">
  <div class="grid grid-cols-1 md:grid-cols-2 mt-8 items-center">
    <div>
      <h1 class="!text-7xl">
        Welcome to <span class="text-purple-600">Reader!</span>
      </h1>
      <div>
        <ul>
          <li>
            A place to store all of your books
          </li>
          <li>
           It goes where you go
          </li>
          <li>
            Fully opensource, go checkout github to find out more.
          </li>
        </ul>
        <hr>
      </div>
      <div class="mt-2 text-center md:text-left">
        <h3><span class="text-amber-600">Authentication</span> is Require Please </h3>
        <button mat-raised-button color="primary"> Login </button>
      </div>
    </div>
    <div class="grid justify-center mt-4 md:mt-0">
      <img src="assets/logo.png" alt="" class="max-w-sm lg:max-w-lg max-w-sm">
    </div>
  </div>
  <div class="p-2 border-white border">
    <h1 class="underline">
      Quick Access
    </h1>
    <div class="grid gap-4 grid-cols-3 md:grid-cols-4 lg:grid-cols-8 flex-wrap">
      <app-book-display></app-book-display>
      <app-book-display></app-book-display>
      <app-book-display></app-book-display>
    </div>
  </div>
</div>
