<div class="h-screen mat-app-background">
  <mat-drawer-container class="h-full" >
    <mat-drawer #drawer mode="side">
      <app-nav-options [vertical]="true"></app-nav-options>
    </mat-drawer>
    <mat-drawer-content>
      <mat-toolbar color="primary">
        <mat-toolbar-row class="container mx-auto">
          <button mat-icon-button>
            <mat-icon>book</mat-icon>
            Reader
          </button>
          <span class="flex-1"></span>
          <app-nav-options #opt></app-nav-options>
        </mat-toolbar-row>
      </mat-toolbar>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
