<ul [ngClass]="[!vertical ? 'hidden md:flex' : '', 'text-center']">
  <li>
    <button mat-button>
      Admin
    </button>
  </li>
  <li>
    <button mat-button>
      Bookshelf
    </button>
  </li>
  <li>
    <button mat-button>
      Catalogue
    </button>
  </li>
  <li>
    <button mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
  </li>
</ul>
<button mat-icon-button [class]="vertical ? '!hidden' : 'md:!hidden'" (click)="toggleNav()">
  <mat-icon> menu </mat-icon>
</button>
